<section class="section-6" id="contact">
  <div class="container title-container ">
    <h1 class="title">Contact</h1>
    <h2 class="subtitle">Où suis-je ?</h2>
  </div>

  <div class="content-contact">
    <div class="content-formulaire">

      <div class="form-group d-flex m-0 flex-column justify-content-center align-items-center h-75">
      <h2 class="pt-5 pl-4">Me Contacter</h2>
        <%= simple_form_for @message, :url => '/messages', :method => 'POST' do |f| %>
          <%= f.input :name, :label => "Nom, Prénom"%>
          <%= f.input :email %>
          <%= f.input :objet %>
          <%= f.input :message %>
          <%= f.button :submit, 'Envoyer', class: "btn-submit" %>
        <% end %>
      </div>
    </div>
    <div id='map'></div>
  </div>

  <script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiY2xlbWVudDQ0MzQwIiwiYSI6ImNrdm05YnU4eDA4bTMyeGpweXh0eTFpZWwifQ.2lzNsDAemnsf4eL0xMevkQ';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-1.5846318157682102, 47.18145987199874],
      zoom: 11
    });
    const marker = new mapboxgl.Marker({
      color: "#1a3f47"
    })
      .setLngLat([-1.5846318157682102, 47.18145987199874])
      .setPopup(new mapboxgl.Popup().setHTML("<h3>Clément Le Boulanger</h3>"))
      .addTo(map);
  </script>

</section>
