
<%= render 'shared/navbar-edit' %>
<div class="edit w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="w-50 mt-5 pt-5">
      <div class="text-left title-article border-bottom mb-4 pb-4 text-light"><h2>Edition d'un projet</h2></div>
      <%= simple_form_for @projet_edit do |f| %>
        <%= f.input :title, label: "Titre du projet", class: "text-field text-light" %>
        <%= f.input :description, label: "Description du projet", class: "text-field text-light" %>
        <%= f.input :github, label: "Lien GitHub", class: "text-field text-light" %>
        <%= f.input :photo, label: "Ajouter une miniature", as: :file %>
        <%= f.button :submit, 'Envoyer', class: "btn-submit mt-4 p-2" %>
      <% end %>
    </div>
</div>
