<!-- SECTION 1 :: Accueil -->

<section class="section-1" id="accueil">
  <%= image_tag "headlogo_black.png", class: "head_logo" %>
  <div class="title-content">
    <h6>Hello, je suis</h6>
    <h1>Clément Le Boulanger</h1>
    <%= image_tag "profil.jpg", class: "profil_img" %>
  </div>
  <h2>- Développeur Web Full Stack -</h2>
  <div class="scroll">
    <div class="bulle"></div>
  </div>
</section>

<!-- SECTION 2 :: Actus -->

<section class="section-2" id="actu">
  <div class="container shadow">
    <div class="title border-bottom">
      <h2><i class="far fa-newspaper"></i><strong> Aux dernières nouvelles ...</strong></h2>
      <p><i class="fas fa-calendar-week"></i> 03/01/2022</p>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nisi illum architecto numquam, dolores facere illo cumque omnis rerum laboriosam nam vitae sit autem. Saepe, aliquid. Quia fuga est cupiditate.
      Laudantium, explicabo dolorem? Repudiandae consequatur, consequuntur, minima repellendus ad excepturi quasi molestias laboriosam consectetur numquam dolor mollitia accusantium dolores sed quis dolorem omnis sit itaque officiis aut cupiditate voluptate adipisci.
    </p>
    <div class="footer border-top">
      <%= link_to "Lire la suite ... " %>
      <%= link_to "Toutes les actus" %>
    </div>
  </div>
</section>

<!-- SECTION 3 :: Projets -->

<section class="section-3" id="projets">
  <div class="container title-container">
    <h1 class="title">Mes Projets</h1>
    <h2 class="subtitle">Portfolio</h2>
  </div>
  <div class="container card-container mt-5">
    <div class="card">
      <div class="miniature-projet" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dqxbd7xuf/image/upload/v1641414182/IMG_1260_ovugu6.jpg');"></div>
      <div class="content-projet">
        <h2>Diamond</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia assumenda hic earum voluptatem provident optio voluptates sapiente molestiae tenetur, quia possimus a.</p>
      </div>
    </div>
    <div class="card">
      <div class="miniature-projet" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dqxbd7xuf/image/upload/v1641414831/Capture_d_e%CC%81cran_2022-01-05_a%CC%80_21.32.18_iyiu5p.png');"></div>
      <div class="content-projet">
        <h2>Portfolio 2022</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia assumenda hic earum voluptatem provident optio voluptates sapiente molestiae tenetur, quia possimus a.</p>
      </div>
    </div>
    <div class="card shadow"></div>
  </div>
</section>

<!-- SECTION 4 :: Github -->

<section class="section-4" id="github">
  <a href="https://github.com/ClementLeBoulanger" target="_blank"><%= image_tag "GitHub-Mark-Light.png" %></a>
  <p><%= @repo %> Repositories</p>
  <p><%= @commit %> Commits</p>
  <p>1369 Cafés</p>
</section>

<!-- SECTION 5 :: Compétences -->

<section class="section-5" id="Compétences">

</section>
