<div class="competence d-flex flex-column align-items-center" id="competence">
  <div class="title-projet d-flex flex-column align-items-start w-1OO col-lg-9 col-11">
    <h2>Mes Compétences</h2>
    <h3>Services</h3>
  </div>

   <div class="content-competence d-flex flex-wrap justify-content-center col-lg-10 w-100">
    <div class="card-competence mx-5 shadow d-flex flex-column align-items-center">
      <div class="card-img w-100 d-flex justify-content-center">
        <%= image_tag "competence/rails.svg" %>
        <%= image_tag "competence/esperluette.svg", class:"esperluette" %>
        <%= image_tag "competence/nest.svg" %>
      </div>
      <div class="competence-info d-flex flex-column align-items-center">
        <h4 class="d-flex flex-fill">Backend</h4>
        <p class="text-center">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant.</p>
      </div>
    </div>

    <div class="card-competence mx-5 shadow d-flex flex-column align-items-center">
      <div class="card-img w-100 d-flex justify-content-center">
        <%= image_tag "competence/react.svg" %>
        <%= image_tag "competence/esperluette.svg", class:"esperluette" %>
        <%= image_tag "competence/sass.svg" %>
      </div>
      <div class="competence-info d-flex flex-column align-items-center">
        <h4 class="d-flex flex-fill">Frontend</h4>
        <p class="text-center">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant.</p>
      </div>
    </div>

    <div class="card-competence mx-5 shadow d-flex flex-column align-items-center">
      <div class="card-img w-100 d-flex justify-content-center">
        <%= image_tag "competence/git.svg" %>
        <%= image_tag "competence/esperluette.svg", class:"esperluette" %>
        <%= image_tag "competence/figma.svg" %>
      </div>
      <div class="competence-info d-flex flex-column align-items-center">
        <h4 class="d-flex flex-fill">Autres</h4>
        <p class="text-center">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant.</p>
      </div>
    </div>
   </div>
</div>
