<!DOCTYPE html>
<html>
  <head>
    <title>Clément Le Boulanger - Développeur Web Fullstack</title>

    <!-- Primary Meta Tags -->
    <title>Clément Le Boulanger - Développeur Fullstack</title>
    <meta name="title" content="Clément Le Boulanger - Développeur Fullstack">
    <meta name="description" content="Portfolio 2022 Développeur Web Full Stack Ruby On Rails & React.JS">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clement-leboulanger.com">
    <meta property="og:title" content="Clément Le Boulanger - Développeur Fullstack">
    <meta property="og:description" content="Portfolio 2022 Développeur Web Full Stack Ruby On Rails & React.JS">
    <meta property="og:image" content="/metatags.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://clement-leboulanger.com">
    <meta property="twitter:title" content="Clément Le Boulanger - Développeur Fullstack">
    <meta property="twitter:description" content="Portfolio 2022 Développeur Web Full Stack Ruby On Rails & React.JS">
    <meta property="twitter:image" content="/metatags.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/svg"
    href="/Logo-Navbar.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <script>
      AOS.init();
    </script>
  </body>
</html>
